{erl_opts, [{d, 'SSL40'}]}.

%% Port-driver / NIF compiler setup for MSVC
{port_env, [
    {"CC", "cl.exe"},
    {"CFLAGS", "-nologo -D__WIN32__ -DWIN32 -DWINDOWS -D_WIN32 -DNT -c -W4 -MD -Ox -Iwin32_libs/include $DEFINES"},
    {"DRV_CC_TEMPLATE", "$CC $ERL_CFLAGS $CFLAGS $PORT_IN_FILES -Fo$PORT_OUT_FILE"},
    {"LDFLAGS", "-nologo -LIBPATH:$ERL_EI_LIBDIR -LIBPATH:win32_libs/lib erl_interface_md.lib ei_md.lib -DLL $LIBS"},
    {"DRV_LINK_TEMPLATE", "link.exe $PORT_IN_FILES $RESOURCES $LDFLAGS -OUT:$PORT_OUT_FILE"}
]}.

{port_specs, [
    % stringprep
    {"win32", "priv/lib/stringprep_drv.dll", ["c_src/stringprep_drv.c"], []},
    % expat_erl
    {"win32", "priv/lib/expat_erl.dll", ["c_src/expat_erl.c"], [{env, [{"DEFINES", "-DXML_STATIC"}, {"LIBS", "libexpatMT.lib"}]}]},
    % ejabberd_zlib_drv
    {"win32", "priv/lib/ejabberd_zlib_drv.dll", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LIBS", "zlib.lib"}]}]},
    % sha_drv
    {"win32", "priv/lib/sha_drv.dll", ["c_src/sha_drv.c"], [{env, [{"LIBS", "ssleay32.lib libeay32.lib advapi32.lib user32.lib"}]}]},
    % tls_drv
    {"win32", "priv/lib/tls_drv.dll", ["c_src/tls_drv.c"], [{env, [{"LIBS", "ssleay32.lib libeay32.lib advapi32.lib user32.lib gdi32.lib wsock32.lib"}]}]},
    % iconv_erl
    {"win32", "priv/lib/iconv_erl.dll", ["c_src/iconv_erl.c"], [{env, [{"LIBS", "libiconv.lib"}]}]}
]}.

{post_hooks, [
    {compile, "del priv\\lib\\*.exp priv\\lib\\*.lib"},
    {clean, "if exist priv\\lib rmdir /s /q priv\\lib"}
]}.

%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
